<h1 style="color:#2b2e2f;font-family:'Lucida Sans Unicode','Lucida Grande','Tahoma',Verdana,sans-serif;font-size:16px;line-height:22px;margin:15px 0">Hi, There!</h1>
<p style="color:#2b2e2f;font-family:'Lucida Sans Unicode','Lucida Grande','Tahoma',Verdana,sans-serif;font-size:14px;line-height:22px;margin:15px 0">Your login code: #{code} This code can be used to login to messenger account. We never ask it for anything else. Do not give it to anyone!</p>
<p style="color:#2b2e2f;font-family:'Lucida Sans Unicode','Lucida Grande','Tahoma',Verdana,sans-serif;font-size:14px;line-height:22px;margin:15px 0">If you didn't request this code by trying to log in on another device, simple ignore this message. </p>


